.Rproj.user
.Rhistory
.RData
.Ruserdata
.python-version
.txt
*.CEL
*.tar
R_code/exp_matrix.csv
R_code/exp_matrix_cancer.csv
gene_expansions/
gene_expansions_top_30/
gene_expansions_top_20_sno/
datasets/
dataset/